* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 980px;
    display: grid;
    justify-content: space-between;
    background-color:hsl(226, 43%, 10%);
    background-color: white;
    background-size: 98vh;
    width: 1440px;

}
.content {
    padding: 80px;



}
.profile img{
    border-radius:50%;
   
}

.profile{
    display: flex;
    gap: 10px;
}

.container{
    display: grid;
    grid-template-areas:
        "one two three four "
        "one five six seven "
    ;
    gap: 40px;
}

.one {

    padding: 10px;
    grid-area: one;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.one-info{
    
        padding: 10px;
        grid-area: one;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: aqua;
   
}

.two {

    padding: 10px;
    grid-area:two ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}